@import 'sizes';
@import 'colors';

.FilterBy {
    z-index: 1;
    height: 20%;
    width: 100%;
    background-color: rgba($search-bar-background-color, 0.9);
    position: absolute;

    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    position: relative;

    &:hover {
        $background-color: mix($search-bar-background-color, white, 80%);
        background-color: rgba($background-color, 0.5);
        cursor: pointer;
    }

    &.selected {
        $background-color: mix($search-bar-background-color, white, 80%);
        background-color: rgba($background-color, 0.5);
    }

    & .content {
        padding-left: 20px;
        & span {
            padding-left: 20%;
            margin:auto;
            color: white;
            font-size: $font-normal;
        }

        & input {
            float: left;
        }
    }
}