.container{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.title {
    flex: 0 0 auto;
}

.index-block {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column wrap;
    padding-left: 30px;
    overflow-x: auto;
}

.entry {
    display: block;
    flex: 0 0 auto;
    max-width: 250px;
    text-align: left;
    padding-right: 30px;
    &.item {
        padding-top: 3px;
    }
    &.header {
        padding-top: 30px;
        padding-bottom: 10px;
        font-weight: bold;
    }
}