@import 'sizes';

.header {
    font-size: 24px;
    color: #B09858;
    word-wrap: break-word;
    font-family: 'sans-serif';
    font-weight: 400;
}

.content {
    font-size: $font-small;
    line-height: 23px;
    font-weight: 400;
}

.address {
    font-size: $font-small;
    font-weight: 100;
}

.alternate-names {
    font-size: 12px;
    & h4, ul, li {
        display: inline;
    }
    & li + li:before {
        content: ", ";
    }
}

.departments, .rooms {
    display: inline-block;
    float: top;
    padding-right: 20px;
    vertical-align: text-top;
}

.photo-gallery {
    width: 800px;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    margin: auto;
    float: center;
    & .photo {
        flex: 0 0 400px;
        width: 400px;
        height: 300px;
        overflow: hidden;
    }
}

.background {
    z-index: 2;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0px 0px 60px 5px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(white, 0.95);
    padding: 20px;
}
