.marker-label {
    position: absolute;
    text-align: center;
    & span {
        font-size:10px;
        font-weight:bold;
        text-shadow:-2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
}