.search-results {
    width: 100%;
    background-color: #fff;
    margin-top: -4px;
    box-sizing: border-box;
    border-radius: 0 0 2px 0;
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}