.search-results-appear {
    height: 0% !important;
}

.search-results-appear-active {
    height: 45% !important;
    transition: height 200ms ease-in;
}

.search-results-leave {
}

.search-results-leave-active {
    height: 0%;
    transition: height 200ms ease-out;
}

.search-results {
    z-index: 1;
    height: 45%;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    background: rgba(#2B2B2B,0.9);
}

.search-item {
    padding: 10px 0 10px 10%;
    display: block;
    text-decoration: none;
    & span {
        display: block;
        color: #F0F0F0;
    }
    &.header {
        font-size: 18px;
    }
    &.item {
        padding-left: 11%;
        font-size: 14px;
        &:hover {
            cursor: pointer;
            background: rgba(#5B5B5B,0.9);
        }
    }
}
